.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .page-container {
    width: 360px;
  }
}

@media screen and (min-width: 720px) {
  .page-container {
    width: 720px;
  }
}

@media screen and (min-width: 1080px) {
  .page-container {
    width: 1080px;
  }
}

@media screen and (min-width: 1440px) {
  .page-container {
    width: 1440px;
  }
}
