@import '../../shared-css/Mixins';

.error-container {
  @include widebar(240px, 50px, 7px);

  .error-border {
    // Generated styling from https://www.bestcssbuttongenerator.com/#/4
    > button.button {
      @include button-reset;

      background-color: #ffffff;
      border: 1px solid #454545;
      display: inline-block;
      cursor: pointer;
      color: #454545;
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 10px 6px;
      text-decoration: none;

      &:hover {
        background-color: #dbdbdb;
      }
    }
  }
}
