@import "../../shared-css/Mixins";

.card {
  position: relative;
  display: inline-block;
  text-align: initial;
  overflow: hidden;
  margin: 0 0 10px 30px;
  width: 300px;
  height: 278px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;

  .card-image-container {
    position: relative;
    display: block;
    width: 245px;
    height: 244px;
    overflow: hidden;
    margin: 0;

    .card-border {
      background-color: black;
      top: -115px;
      left: -58px;
      width: 360px;
      height: 590px;
      position: absolute;
      clip-path: polygon(17% 24%, 50% 20%, 83% 24%, 75% 53%, 50% 60%, 25% 53%);
    }

    .card-image {
      top: -111px;
      left: -53px;
      width: 350px;
      height: 580px;
      position: absolute;
      clip-path: polygon(17% 24%, 50% 20%, 83% 24%, 75% 53%, 50% 60%, 25% 53%);
    }
  }

  .card-cost {
    position: absolute;
    display: block;
    top: 35px;
    left: 0;
    background: rgb(59,255,56);
    background: -moz-radial-gradient(circle, rgba(59,255,56,1) 0%, rgba(33,105,35,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(59,255,56,1) 0%, rgba(33,105,35,1) 100%);
    background: radial-gradient(circle, rgba(59,255,56,1) 0%, rgba(33,105,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3bff38",endColorstr="#216923",GradientType=1);
    border: 1.5px solid black;


    $circle-diameter: 30px;
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: $circle-diameter / 2;

    > span {
      font-weight: bold;
      font-size: 26px;
      display: inline-block;
      text-align: center;
      width: 30px;
    }
  }

  .card-label-container {
    position: absolute;
    display: block;
    left: 117px;
    top: 0;
    height: 234px;
    width: 250px;

    .card-label {
      position: absolute;
      $y-stagger: 35px;
      $x-stagger: 0px;
      $y-off: 5px;
      $x-off: 75px;

      &:nth-child(1) {
        left: $x-off - 80px;
        top: $y-off;
      }

      @for $i from 1 to 5 {
        &:nth-child(#{$i + 1}) {

          left: $x-off + ($i * $x-stagger);
          top: $y-off + ($i * $y-stagger);
          @if $i > 0 {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .card-description {
    @include card-formatting;

    $labelHeight: 20px;

    position: absolute;
    left: 22px;
    top: 170px;
    box-sizing: border-box;
    font-size: $labelHeight / 2;
    line-height: 19px;
    padding: 0 4px;
    width: 200px;
    height: auto;
    border-radius: $labelHeight / 4;

    .description {
      margin-block-start: 0;
      margin-block-end: 0.5em;
    }

    .card-attribute {
      font-size: $labelHeight / 2.5;
      margin-right: 5px;
    }
  }

  .stats {
    @include card-formatting;

    $font-size: 16px;

    position: absolute;
    display: block;
    left: 0;
    top: 87px;
    border-radius: 5px;

    &__stat {
      display: inline-list-item;
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 5px;
    }

    &__stat:first-child {
      margin-top: 5px;
      margin-bottom: 3px;
    }

    &__stat-text {
      display: inline;
      font-size: $font-size;
      vertical-align: middle;
    }

    &__sword {
      fill: #d6d6d6;
      display: inline;
      width: $font-size;
      height: $font-size;
      margin-right: 4px;
      vertical-align: middle;
    }

    &__shield {
      fill: #d6d6d6;
      display: inline;
      width: 20px;
      height: 20px;
      margin-left: -2px;
      margin-right: 2px;
      margin-bottom: 1px;
      vertical-align: middle;
    }
  }
}