@import '../../../shared-css/Mixins';

.query-container {
  .tagify {
    margin-top: 10px;
    background-color: #131313;
    max-width: calc(100vw - 60px);
    margin-left: 30px;
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;

    &__tag {
      margin: 2px 0 2px 2px;
    }

    &__input {
      color: #d6d6d6;
      margin: 2px;
      text-align: left;
    }

    &__input::before {
      color: #d6d6d6;
      margin: 2px;
      top: -2px
    }
  }
}