@import '../../../shared-css/Mixins';

.query-container {
  .tagify {
    margin-top: 10px;
    background-color: #131313;
    max-width: calc(100vw - 64px);
    margin-left: 30px;
    box-sizing: border-box;
    height: 36px;
    font-size: 16px;


    border: 2px solid #7a95ad;
    border-radius: 4px;

    &__tag {
      margin: 3px 0 3px 3px;
      font-size: 16px;
      height: 26px;

      &__removeBtn {
        width: 24px;
        height: 24px;
        padding-top: 2px;
        margin-left: -8px;
        margin-right: 2px;

        &::after {
          font-size: 28px;
        }
      }

      &-text {
        color: black;
      }
    }

    &__input {
      color: #d6d6d6;
      text-align: left;
      margin: 0;
      padding: 8px 10px 6px;
      font-size: 16px;
    }

    &__input::placeholder {

      color: #919191;
      font-size: 16px;
    }

    &__input::before {
      line-height: normal;
      top: 8px;
      position: absolute;
      color: #919191;
      opacity: 1;
      font-size: 16px;
      margin: 0;
    }
  }

  .query-search-button {
    display: block;
    width: 100px;
    height: 36px;
    margin: 10px auto 0;
    border-radius: 4px;
    border: 2px solid #7a95ad;
    background-color: #c0c0c0;
    color: black;
    font-size: 20px;
  }
}